In [4]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("HaloData.db")
c = conn.cursor()
c.execute("SELECT DISTINCT * FROM halo_db_2")
z = c.fetchall()

halodf = pd.DataFrame(z,columns = ["Name","Categories","length of page","category"])

In [5]:
#halodf_drop_empties = halodf[halodf["Categories"] == "[]"].drop(axis = 0)
halodf_dropped = halodf.drop(halodf[halodf["Categories"] == "[]"].index,axis = 0)
print(halodf.shape,halodf_dropped.shape)

(21, 4) (7, 4)

In [10]:
halodf_dropped[halodf_dropped["category"] != "tester"]

Empty DataFrame
Columns: [Name, Categories, length of page, category]
Index: []

In [7]:
halodf_dropped.sort_values(by = "length of page",ascending=False).tail(10)

,Name,Categories,length of page,category
8,,"['Halo:_Combat_Evolved_Anniversary', 'Skulls']",10037024,tester
4,Halopedia:Article Improvement Drive,['Halopedia'],9183223,tester
20,Category:Articles with incomplete sections,"['Meta_categories', 'Marked_articles']",5896128,tester
16,File:HCE RingSurface Concept 10.jpg,"['Fair_use_art', 'Halo:_Combat_Evolved_concept...",4398290,tester
0,File:HCEX Classics Cover Art.jpg,"['Game_covers', 'Cover_art', 'Halo:_Combat_Evo...",3908526,tester
6,Category:Help,['Administration'],3790003,tester
12,Category:Game demos,['Video_games'],3379891,tester

In [28]:
halovehicles = halodf_dropped[halodf_dropped["Categories"].str.contains("Vehicles")]
halovehicles.sort_values(by = "length of page",ascending=False).head(10)

,Name,Categories,length of page
78,Category:Covenant vehicles,"['Covenant_technology', 'Vehicles']",4494311
964,Category:UNSC vehicles,"['UNSC_Armed_Forces', 'Vehicles']",4417062
11953,Category:Ships,['Vehicles'],4075598

In [29]:
humanchars = halodf_dropped[halodf_dropped["Categories"].str.contains("Human_characters")]
print("Human characters: ",len(humanchars))

alienchars = halodf_dropped[halodf_dropped["Categories"].str.contains("Sangheili")]
print("Alien characters: ",len(alienchars))

Human characters:  1
Alien characters:  165