In [22]:
import pandas as pd
import sqlite3


conn = sqlite3.connect("HaloData.db")
c = conn.cursor()
halodb = pd.read_sql_query("SELECT DISTINCT * FROM halo",sqlite3.connect("HaloData.db"))


halodb.sort_values(by = "name").head()

,name,species,homeworld,gender,affiliations
15,AV-30 Light Assault VTOL,b>\n<,Misriah Armory,,"GAU-10/A heavy autocannons, M302 rocket pods"
76,Arctic Warthog,M12_Warthog,AMG Transport Dynamics,,","
14,Armored Warthog,M12B_Warthog,AMG Transport Dynamics,,", Gunner (1)"
0,Atriox,Jiralhanae,Doisac,Male,"Covenant, Banished"
17,Bison,b>\n<,Serina,,"Insurrection, Human-Covenant War"

In [20]:
halodb["gender"].str.contains("Male").value_counts()

False    212
True       5
Name: gender, dtype: int64

In [25]:
halodb["gender"].str.contains("Female").value_counts()

False    216
True       1
Name: gender, dtype: int64

In [26]:
c.close()